body{
    font-family: "Alexandria", sans-serif;
    margin: 0px;
}

.video-bg{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-bg > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.offcanvas-transparent {
    background-color: rgba(34, 0, 62, 0.593) !important;
    height: 100vh;
    border: none !important;
}

.offcanvas-transparent .nav-link,
.offcanvas-transparent .offcanvas-title {
    color: #ffffff;
}

.offcanvas-transparent .btn-close {
    filter: invert(1);
}

.offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.offcanvas-backdrop {
    background-color: transparent !important;
}

.offcanvas-title{
    font-family: "Antonio" !important;
    font-size: 25px;
}

.navbar{
    padding: 0px !important;
}

#home{
    margin-top: 60px;
}

.name{
    font-family: "Antonio";
    font-size: clamp(2.5rem, 4.5vw, 7rem) !important;
}

.discription{
    color: white;
    font-weight: 400;
    font-size: 2rem;
}

.transparent-bg{
    background-color: transparent !important;
    backdrop-filter: blur(15px) !important;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(97, 97, 97, 0.2);
    border-radius: 30px;
}

.transparent-bg-nav , .transparent-footer-bg{
    background-color: transparent !important;
    backdrop-filter: blur(5px) !important;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(97, 97, 97, 0.2);
}
.social-media{
    font-size: 0.8rem !important;
    display: flex;
}

.instagram-btn{
    background: linear-gradient(45deg, #4f5bd5,#4f5bd5, #962fbf, #d62976, #feda75) !important;
    border: none !important;
}

#about, #skill, #projects{
    color: white;
}

.bottom-border{
    border-bottom: 1px solid rgb(210, 210, 210);
}

.text{
    font-size: 60px !important;
}

.image-grid{
    height: 100%;
    align-content: center;
    justify-self: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
    aspect-ratio: 1 / 1;
}

.images{
    width: 100%;
    aspect-ratio: 1 / 1;
}

.images > img{
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: transform 0.4s ease-in-out, border-radius 0.4s ease-in-out;
}

.img-3{
    grid-area: 1 / 3 / 3 / 5;
}


.img-9 >img{
    aspect-ratio: 3/4;
}

.img-1:hover img {
    transform: scale(2.5) translateX(55%);
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
}

.img-2:hover img {
    transform: scale(2.5) translate(25%);
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
}

.img-3:hover img {
    transform: scale(1.4) translate(-30%);
    border-radius: 5px;
}

.img-4:hover img {
    transform: scale(2.5) translateX(55%);
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
}

.img-5:hover img {
    transform: scale(2.5) translate(25%);
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
}

.img-6:hover img {
    transform: scale(2.5) translate(55%);
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
}

.img-7:hover img {
    transform: scale(2.5) translate(25%);
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
}

.img-8:hover img {
    transform: scale(2.5) translate(-25%);
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
}

.img-9:hover img {
    transform: scale(2.5) translate(-55%);
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
}

.img-10:hover img {
    transform: scale(2.5) translate(55%);
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
}

.img-11:hover img {
    transform: scale(2.5) translate(25%);
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
}

.header-text{
    font-size: clamp(1.2rem, 3.5vw, 3.5rem) !important;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.366);
}

.contact-details{
    color: white !important;
    font-weight: 400;
    display: inline-block;
}

@media (max-width: 1000px) {
    .img-1:hover img {
        transform: scale(3.3) translateX(45%);
        border-radius: 5px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-2:hover img {
        transform: scale(3.3) translate(15%);
        border-radius: 5px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-3:hover img {
        transform: scale(1.8) translate(-30%);
        border-radius: 5px;
    }

    .img-4:hover img {
        transform: scale(3.3) translateX(45%);
        border-radius: 5px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-5:hover img {
        transform: scale(3.3) translate(15%);
        border-radius: 5px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-6:hover img {
        transform: scale(3.3) translate(45%);
        border-radius: 5px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-7:hover img {
        transform: scale(3.3) translate(15%);
        border-radius: 5px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-8:hover img {
        transform: scale(3.3) translate(-15%);
        border-radius: 5px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-9:hover img {
        transform: scale(3.3) translate(-45%);
        border-radius: 5px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-10:hover img {
        transform: scale(3.3) translate(45%);
        border-radius: 5px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-11:hover img {
        transform: scale(3.3) translate(15%);
        border-radius: 5px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }
}

@media (max-width: 766px) {
    .img-1:hover img {
        transform: scale(5) translateX(30%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-2:hover img {
        transform: scale(5) translate(10%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-3:hover img {
        transform: scale(2.2) translate(-20%);
    }

    .img-4:hover img {
        transform: scale(5) translateX(30%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-5:hover img {
        transform: scale(5) translate(10%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-6:hover img {
        transform: scale(5) translate(30%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-7:hover img {
        transform: scale(5) translate(10%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-8:hover img {
        transform: scale(5) translate(-10%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-9:hover img {
        transform: scale(5) translate(-30%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-10:hover img {
        transform: scale(5) translate(30%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-11:hover img {
        transform: scale(5) translate(10%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

}

@media (max-width: 450px) {
    .img-1:hover img {
        transform: scale(5) translateX(30%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-2:hover img {
        transform: scale(5) translate(10%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-3:hover img {
        transform: scale(2.2) translate(-20%);
    }

    .img-4:hover img {
        transform: scale(5) translateX(30%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-5:hover img {
        transform: scale(5) translate(10%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-6:hover img {
        transform: scale(5) translate(30%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-7:hover img {
        transform: scale(5) translate(10%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-8:hover img {
        transform: scale(5) translate(-10%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-9:hover img {
        transform: scale(5) translate(-30%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-10:hover img {
        transform: scale(5) translate(30%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }

    .img-11:hover img {
        transform: scale(5) translate(10%);
        border-radius: 2px;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }


}
